body {background-color:#d3d3d3;
    color: #000000;}

a {color:#0000ff;}
a:hover {color:#ffffff;}

h1 {background-color: #ff0044;
    color:#ffffff;}
nav {background-color: #1500ff;
    padding: 10px; 
    margin-bottom: 30px;}
nav a {color:#ffffff;}
nav a:hover {background-color: #708090;}
.p1 {float: left;}
.p2 {float: right;}

.r1, .r2 {display: flex;}
.r2 div {flex: 1;}
.r1, .r2{
    border-radius: 25px;
    background: #ffffff;
    padding: 40px;
    margin-left: 2em;
    margin-right: 2em;}
.c1, .c2 {flex: 0.2;}
.r1 section {margin-top: 4em;}